.navigation{
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
    height: 72px;
  }
  .navigation ul{
    display: flex;
    gap:24px;
    align-items: center;
    list-style: none;
    font-weight: 500;
  }